@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Saira', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}

.container {
    /* Ширина и максимальная ширина */
    width: 1200px; max-width: 1200px;

    /* Центрирование по горизонтали */
    margin: 0 auto;
}

.scene {
    position: fixed;
    left: 0; top: 0; bottom: 0; right: 0;

    min-height: 100vh;
}

.layer {
    position: absolute;
    left: -10%; top: -10%;

    width: 110%; height: 110%;
}

.layerBg {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layerFl {
    background-image: url('../img/firstLayer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layerSl {
    background-image: url('../img/secondLayer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
